<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>

<header class="site-header">
    <nav>
        <a href="{{ url_for('index') }}" class="brand">
            {{ app_name }}
        </a>
        <a href="https://github.com/ajsbsd/flask-ai-smollm">ajsbsd/flask-ai-smollm</a>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer>
    <a href="https://www.digitalocean.com/?refcode=ccfab36c98ad&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
</footer>

</body>
</html>
